body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:0;
    padding: 0;
    width:100%;
    -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html{
    margin:0;
    padding: 0;
}


.fullWidth{
    width:100%;
}
.height_Onescreen{
    height: 100vh;
    margin: 0%;
    padding: 0%;
}
.header_img{
    width: 100%;
    height: 100%;    
}
.homeDet{
    width: 80%;
    height: 40%;
    padding: 2%;
    text-align: right;
    font-size:1.5em;
    color: #393a40;
}
.homeDet h1{
    font-weight: bolder;
    letter-spacing: 0.125ch;
}
.center_Align{
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.flexCenterAlign{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Btnn{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    position: absolute;
    bottom: 10%;    
    /* background: pink; */
}

.Navbar{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background: pink; */
}
.logo{
    float: left;
    background: #f1f1f1;
    padding: 1%;
    margin:1% 0%;
    position: relative;
    left: 4%;
    font-size: 1.5em;
    font-weight: bolder;
    border: none;
    border-radius: 4px;
    box-shadow: 0 3px 4px rgba(75, 75, 75, 0.3)
}
.navs{
    float: right;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1%;    
    margin: 1% 0%;
    position: relative;
    right: 1%;
    font-weight: bold;
    /* background: darkmagenta; */
}

.AboutDet{
    width:80%;
    height: 60%;
    padding: 2%;
    font-size: 1.25em;
    color: #343a40;
}
.signInDet{
    width:80%;
    height: 60%;
    padding: 2%;
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
.GameIdDet{
    width:80%;
    height: 40%;
    padding: 2%;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.DashDiv{
    width: 95%;
    height: 90%;
    border: none;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 3px 10px rgba(75, 75, 75, 0.3);
}
.optionBox{    
    width: 80%;
    height: 60%;
    margin: 2% auto;
    display: flex;
    flex-direction:column ;
    justify-content: space-evenly;
}

.optionsStyle{    
    width:40%;
    font-size: 1.5em;
    padding:1%;
    margin:0% 10% 4% 0%;
    border-radius: 8px;
    border: 1px solid #ddd;
   
}

.inpTextStyle{
    width:90%;
    border: none;
    padding:0% 2%;
}
.inpRadioStyle{
    text-align: center;
    width:10%;
    border: none;
}
.profileDet{
    width:100%;
    height: 40%;
    margin-top:2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #343a40;
}
.profileDet h1{
    font-size: 2.5em;
    font-weight: bold;
    margin: 0%;
}
.profileDet p{
    font-size: 1.5em;
    font-weight: bold;
    
}
.profilePic{
   border: none;
   border-radius: 50%;
   margin-right: 4%;
   background-position: center;
   background-size: cover;
   width:150px;
   height:150px;
   text-align: center;
    box-shadow: 0px 6px 10px rgba(75, 75, 75, 0.2);

}
.list_sty{
    width: 95%;
    /* height: 100px; */
    letter-spacing: 1px;
    padding: 2%;
    margin: 1%;
    border-radius: 8px;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 3px 6px rgba(75, 75, 75, 0.2);
}
.list_sty:hover{
    background: #343a40;
    color: #fff;
}
.flexRow{
    display: flex;
    flex-direction: row;
}
.qzDet{
    width: 80%;
    margin: auto;
    letter-spacing: 1px;
    background: #fff;
    color: #343a40;
    border-radius: 8px;
    padding: 2%;
    box-shadow: 0px 3px 6px rgba(75, 75, 75, 0.2);
}
.darkSty{
    background: #343a40;
    color: #fff;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    padding: 2%;
    margin: 1% auto;
    
}
.scrollDes{
    overflow-y: auto;
}
.BottomPos{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.flexStart{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

/* for bubble and rules animation */
.hooks-main > svg {
  display: none;
}

.hooks-main > div {
  position: absolute;
  will-change: transform;
  border-radius: 50%;
  background: lightcoral;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  opacity: 0.6;
}

.hooks-main > div:nth-child(1) {
  width: 120px;
  height: 120px;
}

.hooks-main > div:nth-child(2) {
  width: 250px;
  height: 250px;
}

.hooks-main > div:nth-child(3) {
  width: 150px;
  height: 150px;
}

.hooks-main > div::after {
  content: '';
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
}

.hooks-main > div:nth-child(2)::after {
  top: 70px;
  left: 70px;
  width: 70px;
  height: 70px;
}

.hooks-main > div:nth-child(3)::after {
  top: 50px;
  left: 50px;
  width: 50px;
  height: 50px;
}

.hooks-main {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: url('#goo');
  overflow: hidden;
}
.rules{
    font-weight: bold;
}

.script-box {
  will-change: width, height, left, top;
  position: relative;
}

.options{
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #343a40;
    font-size: 3.0em;
    font-weight: bold;
    box-shadow: 0px 3px 10px -5px rgba(72, 72, 72, 0.3);
    transition: box-shadow 0.3s;
}
.options:hover{
    box-shadow: 0px 3px 10px -5px rgba(72, 72, 72, 0.3);
    transition: box-shadow 0.5s;
}
.cardOpt{
    box-shadow: 0px 3px 10px -5px rgba(72, 72, 72, 0.3);
    transition: box-shadow 0.5s;
  will-change: transform;

}
.cardOpt:hover {
  box-shadow: 0px 6px 15px -5px rgba(72, 72, 72, 0.4);
}
.counterOptAlign{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.counterSty{
    z-index:9999;
    width:10em;
    height: 10em;
    background: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 10px rgba(75, 75, 75, 0.3);
    color: #343a40;
}
.optionsAwBox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    
}


@media only screen and (max-width: 600px) and (min-width: 300px) {
    .navs{
    width: 80%;
    right: 2%;
}
    .optionBox{
        width: 100%;
        margin: 2% 0%;
    }
    .homeDet{      
    height: 50%;    
    font-size:1.0em;
    color: #343a40;
}
.homeDet h1{
    font-weight: bold;
    letter-spacing:normal;
}
.profileDet{
    flex-direction: column;
}
}

@media only screen and (max-width: 870px) and (min-width: 600px) {
     .navs{
    width: 80%;
    right: 2%;
}
}